<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- log for console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-6p %c{10} %m%n</pattern>
        </encoder>
    </appender>

    <!-- log for file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./log/testlog.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="STDOUT" level="info">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="FILE" level="debug">
        <appender-ref ref="FILE"/>
    </logger>

</configuration>